@import "../../styles/_tokens.scss";
@import "../../styles/_mixins.scss";

.partners {
  @include flex-centered-content;

  :global {
    .partners--content-container {
      width: 100%;
      max-width: $max-width;
    }
  }

  ul {
    display: grid;
    list-style-type: none;
    margin-top: $spacing-md;
    grid-template-rows: 1fr;
    grid-row-gap: $spacing-md;
    grid-column-gap: $spacing-md;
    grid-template-columns: repeat(1, 1fr);

    li {
      width: 100%;
      height: 4.5rem;
      display: block;
      position: relative;
    }
  }
}
