@import "tokens";
@import "mixins";

* {
  box-sizing: border-box;
  word-break: break-word;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body.scroll-blocked {
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-weight: bold;
  font-size: $font-xl;

  @include desktop {
    font-size: $font-xxl;
  }
}

.section-divider {
  border: 0;
  height: 2px;
  width: 10rem;
  opacity: 0.8;
  background: $black;
  align-self: center;
  justify-self: center;
  margin: $spacing-md 0;

  @include desktop {
    margin: $spacing-lg 0;
  }
}

p,
.regular-text {
  @include regular-text;
}
