@import "tokens";
@import "mixins";

* {
  box-sizing: border-box;
  word-break: break-word;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

.section-title {
  font-weight: bold;
  font-size: $font-xl;

  @include desktop {
    font-size: $font-xxl;
  }
}

p,
.regular-text {
  @include regular-text;
}
