@mixin desktop() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: 414px) {
    @content;
  }
}

@mixin flex-centered-content {
  display: flex;
  align-items: center;
  padding: $spacing-sm;
  justify-content: center;

  @include desktop {
    padding: $spacing-md;
  }
}

@mixin simple-link {
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
