@mixin desktop() {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin tablet() {
  @media (min-width: 414px) {
    @content;
  }
}

@mixin flex-centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
