$black: #000;
$white: #fff;
$light-gray: #d9d9d9;
$gray: #999999;
$green: #32ffaa;
$dark-green: #0d9d5f;
$yellow: #fef574;
$dark-yellow: #af9c41;

$spacing-lg: 80px;
$spacing-md: 40px;
$spacing-sm: 20px;
$spacing-xs: 10px;

$font-xxl: 56px;
$font-xl: 40px;
$font-lg: 36px;
$font-md: 24px;
$font-sm: 18px;
$font-xs: 16px;
$font-xxs: 14px;
