@import "tokens";
@import "mixins";

.appeal {
  @include flex-centered-content;
  color: $gray;

  :global {
    .appeal--content-container {
      width: 100%;
      max-width: $max-width;
    }

    h5 {
      font-weight: normal;
    }

    .appeal--footer {
      margin-top: $spacing-md;

      button {
        font-size: $font-xs;
        @include regular-text;
        margin-top: $spacing-sm;

        @include desktop {
          font-size: $font-sm;
        }
      }
    }
  }
}
