@import "tokens";
@import "mixins";

.contact {
  @include flex-centered-content;

  :global {
    .contact--content-container {
      width: 100%;
      max-width: $max-width;
    }

    .contact--description {
      display: inline;

      button {
        display: contents;
        font-size: inherit;
        @include simple-link;
      }
    }
  }
}
